<launch>
<rosparam>
       use_sim_time: true
</rosparam>
<node pkg="tf" type="static_transform_publisher" name="odom2map" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link /front_laser 100 "/>
<node name="map_server" pkg="map_server" type="map_server" args="/home/cezar/mySW/SM_WS1516_AA_EX8/myMap.yaml"/>
<include file="/home/cezar/mySW/SM_WS1516_AA_EX8/myAMCL.launch"/>
</launch>



